@import url(../fonts/stylesheet.css);

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}





/* Slider
----------------------------------*/
.ui-slider {
position:relative;
text-align:left;
background: #d3d5d8;
margin: 10px 0 40px;
}

.ui-slider .ui-slider-handle {
position:absolute;
z-index:2;
cursor:default;
background: #fff;
border: 10px solid #000;
border-radius: 20px;
width: 10px;
height: 10px;
	outline: none !important;
}

.ui-slider .ui-slider-range {
position:absolute;
z-index:1;
font-size:1%;
display:block;
border:0;
background: #c66;
border-radius: 3px;
}

.ui-slider .ui-slider-handle.ui-state-hover{
}
.ui-slider .ui-slider-handle.ui-state-active{
}

.ui-slider-horizontal { height: 10px; border-radius: 3px; }
.ui-slider-horizontal .ui-slider-handle { top: -10px; margin-left: -10px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }




/* ==========================================================================
	 ikSelect
	 ========================================================================== */



.event-admin .brands-list select{
	visibility: hidden;
}

.ik_select {
	position: relative;
	height: 53px;
	line-height: 53px;
	display: inline-block; *display:inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 18px;
}

.big-input .ik_select {
	height: 60px;
	line-height: 60px;
}

.w100 .ik_select_link{
	width: 58px;
}
.w120 .ik_select_link{
	width: 78px;
}
.w160 .ik_select_link{
	width: 118px;
}
.w280 .ik_select_link{
	width: 238px;
}
.w370 .ik_select_link{
	width: 328px;
}
.w440 .ik_select_link{
	width: 398px;
}
.w580 .ik_select_link{
	width: 538px;
}
.w760 .ik_select_link{
	width: 718px;
}

.ik_select_link_wrap{
	position: relative;
}

.ik_select_link{
	text-align: left;
	border-radius: 3px;
	padding: 1px 24px 1px 14px;
	height: 51px;
	overflow: hidden;
	border: 2px solid #D3D5D8;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	zoom: 1;
	background: url(../img/icon-select-arrow.png) no-repeat right center #fff;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.big-input .ik_select_link{
	font-size: 24px;
	height: 60px;
}

.content.plan .markets .ik_select_link{
	height: 58px;
	line-height: 58px;
	font-size: 18px;
}


.ik_select_link:hover {
	color: #666;
}

.ik_select_link_disabled,
.ik_select_link_disabled:hover {
	background: #EAECEF;
	color: #888;
	cursor: default;
}

.ik_select_link.error{
	padding: 0 24px 0 14px;
	border-width: 2px;
	border-color: #f60 !important;
}

.ik_select_link_wrap.open{
}

.ik_select_link.open{
	background-image: url(../img/icon-select-arrow-open.png);
	border-radius: 4px 4px 0 0;
	border-bottom: 0;
}
.ik_select_link.ik_select_focus {
	*border-color:#F00;
}
.ik_select_link_text {
	overflow: hidden;
	display: block;
	width: 100%;
	text-overflow: ellipsis;
}
.ik_select_block {
	position: absolute;
	z-index: 9999;
	width: 100%;
	left: 0px;
	top: 55px;
	display: none;
	padding: 0;
	border-radius: 0 0 3px 3px;
	font-size: 18px;
}

.ik_select_block.big-input {
	top: 61px;
}

.ik_select_block_right {
	left: auto;
}
.ik_select_list {
	border: 2px solid #D3D5D8;
	border-top: 0;
	padding: 0;
	position: relative;
	zoom: 1; *border:1px solid #000;
	border-radius: 0 0 3px 3px;
}

/* ie8 hack */
@media \0screen {
	.ik_select_list {
		border: 1px solid #000;
	}

}
/* /ie8 hack */

.ik_select_list_inner {
	background: #fff;
	padding: 5px 0;
	border-top: 1px solid #f2f2f2;
}
.ik_select_list .ik_select_optgroup {
	padding-left: 0;
}
.ik_select_optgroup_label {
	color: #7f8080;
	padding: 0 21px;
}
.ik_select_list ul {
	margin: 0;
	padding: 0;
}
.ik_select_list li {
	list-style-type: none;
	background: none;
	padding: 0;
	margin: 0;
	cursor: default;
	line-height: 40px;
	margin: 0;
	padding: 0 15px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-position: 0 center;
	background-repeat: no-repeat;
}

.big-input .ik_select_list li {
	font-size: 24px;
	line-height: 60px;
}

.ik_select_list li:first-child{
}

.ik_select_optgroup li {
	padding-left: 42px;
}
.ik_select_list li.ik_select_hover {
	color: #666;
	cursor: pointer;
}

.ik_select_link.open,
.ik_select_list li.ik_select_active {
	color: #a6adb3;
}

.ik_select_list .ik_select_optgroup_disabled .ik_select_optgroup_label, .ik_select_list li.ik_select_option_disabled {
	color: #bbb;
}

.ik_select.ik_select_disabled .ik_select_link {
	top: 0;
	box-shadow: none;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}








/* ==========================================================================
	 nanoscroll
	 ========================================================================== */
/*



.nano {
	position : relative;
	width    : 100%;
	height   : 100%;
	overflow : hidden;
}
.nano .content {
	position      : absolute;
	overflow      : scroll;
	overflow-x    : hidden;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
}
.nano .content::-webkit-scrollbar {
	-webkit-appearance: none;
}
.nano > .pane {
	background: transparent;
	position : absolute;
	width    : 11px;
	right    : 15px;
	top      : 0;
	bottom   : 0;
	visibility: hidden;
}
.nano > .pane > .slider {
	background: rgba(0,0,0,.15);
	position              : relative;
	margin                : 0 1px;
	-moz-border-radius    : 6px;
	-webkit-border-radius : 6px;
	border-radius         : 6px;
}

.lt-ie9 .nano > .pane > .slider {
	background: #000;
	filter: alpha(opacity=30);
}

.nano:hover > .pane, .pane.active {
	visibility: visible;
}
.nano > .pane {
	-webkit-transition    : .2s;
	-moz-transition       : .2s;
	-ms-transition        : .2s;
	-o-transition         : .2s;
	transition            : .2s;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border-radius         : 5px;
	opacity               : .01;
}
.nano:hover > .pane, .pane.active {
	opacity : 1;
}

.popup-src .nano.textarea{
	background: #fff;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 #ccc;
	height: 175px;
}

.nano textarea.txt{
	margin: 15px 0 !important;
	padding: 0 20px !important;
	box-shadow: none !important;
	background: transparent !important;
	overflow: hidden;
}



*/



/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .nanocontent {
  position      : absolute;
  overflow      : scroll;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}

/*
.nano .nanocontent {
  right         : -15px;
  bottom        : -15px;
  padding: 0 15px 15px 0;
}

*/


.nanowrap{
	overflow: hidden;
}

/*.autonano .nanowrap{
	padding: 0 15px 15px 0;
}
*/

.autonano .nano .nanocontent {
	padding: 0;
}

.nano .nanocontent:focus {
  outline: thin dotted;
}
.nano .nanocontent::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .nanocontent::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane-y, .nano > .pane-x {
  background : transparent;
  position   : absolute;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  bottom     : 0;
  right     : 0;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .pane-y {
  width      : 11px;
  top        : 0;
  right: 15px;
}
.nano > .pane-x {
  height      : 11px;
  left        : 0;
}
.nano > .pane-y > .slider-y, .nano > .pane-x > .slider-x {
  background: #444;
  background: rgba(0,0,0,.3);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 6px;
  -webkit-border-radius : 6px;
  border-radius         : 6px;
}
.nano > .pane-x > .slider-x {
	height: 9px;
  margin: 1px 0;
}
.nano:hover > .pane-y, .pane-y.active, .pane-y.flashed,
.nano:hover > .pane-x, .pane-x.active, .pane-x.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.autonano .pane-x{
	background: #aaa;
	background: rgba(255,255,255,0.5);
}


.nanowrap.calc,
.nanowrap.calc .nano,
.nanowrap.calc .nanocontent{
	height: auto !important;
	overflow: auto !important;
	position: relative !important;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, input, textarea{
	font-family: 'pf_encore_sans_proregular';
	font-size: 14px;
}

html{
	background: #f1f3f5;
}

a{
	color: #000;
	cursor: pointer;
}

.cw{
	position: relative;
	margin: 0 auto;
	width: 1240px;
}

.cw-narrow{
	position: relative;
	margin: 0 auto;
	width: 280px;
}

#top{
	background: #000;
	color: #fff;
	font-size: 16px;
	text-align: center;
	height: 60px;
}

#top .l{
	float: left;
}

#top .r{
	float: right;
}

#top .b{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
}

#top a{
	color: #fff;
	text-decoration: none;
}

#top .logo{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -30px;
}

#top .logo img{
	display: block;
}

#top .l .profile{
	padding-left: 45px;
	background: url(../img/icon-user.png) no-repeat left center;
}

#top .l .profile.company{
	background: url(../img/icon-company.png) no-repeat left 4px;
}

#top .l .profile.finance-company{
	background: url(../img/icon-finance-company.png) no-repeat left 4px;
}

#top .r .b.company{
	color: #999;
	background: url(../img/icon-company-gray.png) no-repeat right 4px;
	padding-right: 60px;
	border-right: 1px solid #434343;
	margin-right: 20px;
}

#top .l .link{
	border-left: 1px solid #434343;
	padding: 0 20px;
}

#top .l .link:first-child{
	border-left: 0;
	padding-left: 0;
}

#top .b.phone{
	font-size: 30px;
	color: #999;
}

.content.white{
	background: url(../img/trianglebg.png) repeat-x 0 bottom #fff;
	padding-top: 50px;
	padding-bottom: 40px;
}

.content.gray{
	background: #f1f3f5;
	padding-top: 30px;
	padding-bottom: 40px;
}

.c{
	float: left;
}

.c.main{
	width: 920px;
	margin-right: 40px;
}

.c.side{
	width: 280px;
}

.arrowlabel-l{
	color: #666;
	background: url(../img/arrowlabelbg-l.png) no-repeat 0 bottom;
	padding-bottom: 15px;
}

.arrowlabel-r{
	color: #666;
	text-align: right;
	background: url(../img/arrowlabelbg-r.png) no-repeat right bottom;
	padding-bottom: 15px;
}

.arrowlabel-r.gray{
	color: #999;
}


.bignum{
	font-size: 94px;
	line-height: 1;
}

.bignum .num{
	display: inline-block;
	line-height: 72px;
	border-left: 1px solid #d3d5d8;
	padding: 0 0 0 30px;
	margin: 0 0 0 30px;
}

.bignum .num:first-child{
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}

.bignum a.help{
	vertical-align: top;
}

.wallet{
	text-align: right;
}

.wallet .name{
	font-size: 18px;
}

.wallet .ccnum{
	display: inline-block;
	font-size: 50px;
	padding-left: 110px;
	background: url(../img/icon-cc.png) no-repeat left center;
}

a.btn{
	display: inline-block;
	vertical-align: middle;
	background: #000;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	line-height: 40px;
	padding: 0 15px;
	cursor: pointer;
}

a.btn.plus{
	font-size: 20px;
}

a.btn.add-user{
	background: url(../img/icon-add-user.png) no-repeat center 20px #000;
	padding: 65px 15px 20px;
	font-size: 14px;
	line-height: 16px;
	width: 90px;
	text-align: center;
}

a.btn.red{
	background-color: #c66;
}

.adduser .actions{
	padding-top: 40px;
	text-align: right;
}

.sum-area{
	border: 2px solid #d3d5d8;
	border-radius: 3px;
	background: #fff;
	padding: 10px 15px;
	margin-bottom: 10px;
}

.sum-area input{
	display: inline-block;
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	font-size: 50px;
	height: 50px;
	width: 200px;
}

.sum-area .units{
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	color: #999;
	line-height: 50px;
}

.text{
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #666;
	width: 620px;
	margin-bottom: 20px;
}

.support{
	color: #999;
	line-height: 1;
}

.support .phone{
	font-size: 30px;
}


.withdraw-form .row{
	height: 50px;
	line-height: 50px;
}

.withdraw-form .row .label{
	float: left;
	color: #999;
}

.withdraw-form .row .value{
	float: right;
	font-size: 30px;
}

a.help{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/icon-help.png) no-repeat center center;
}

.withdraw-form .row.fee{
	border-bottom: 1px solid #d3d5d8;
}

.withdraw-form .btn.submit{
	margin-top: 10px;
	font-size: 24px;
	display: block;
	text-align: center;
	line-height: 60px;
}

.withdraw-form a.help{
	float: right;
	margin: 13px 0 0 6px;
}

.data-table{
	width: 100%;
}

.data-table tr{
	border-bottom: 1px solid #d3d5d8;
}

.data-table th{
	padding: 10px 0;
}

.data-table td{
	padding: 15px 0;
	line-height: 26px;
}

.data-table th{
	font-size: 14px;
	font-weight: normal;
	color: #999;
	text-align: left;
}

.data-table td{
	font-size: 16px;
}

.data-table td.num{
	font-size: 30px;
}

.data-table td.gray{
	color: #666;
}

.data-table td.actions{
	text-align: right;
	padding: 10px 0;
}

.btn.cross{
	width: 40px;
	height: 40px;
	padding: 0;
	background: url(../img/icon-cross.png) no-repeat center center #000;
}
.btn.check{
	width: 40px;
	height: 40px;
	padding: 0;
	background: url(../img/icon-check.png) no-repeat center center #000;
}


.cw-narrow h1{
	font-size: 30px;
	font-weight: normal;
	color: #999;
	text-align: center;
	margin: 10px 0 40px;
	line-height: 1;
}

input.txt,
textarea.txt{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #d3d5d8;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #000;	
}

.field{
	margin-bottom: 20px;
}

input::-webkit-input-placeholder {
	color: #ccc;
}

input::-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

.error{
	border-color: #c66 !important;
}

.w280{
	width: 280px;
}

.mt20{
	margin-top: 20px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.btn.submit.h60{
	font-size: 24px;
	line-height: 60px;
	padding: 0 25px;
	text-align: center;
}

label{
	font-size: 18px;
	cursor: pointer;
}


.prettyCheckbox{
	display: inline-block;
	line-height: 25px;
}

.prettyCheckbox .holder{
	display: inline-block;
	vertical-align: -3px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.prettyCheckbox.checked .holder{
	background: url(../img/icon-check-red.png) no-repeat center center;
}


.bottom-actions{
	border-top: 1px solid #d3d5d8;
	margin-top: 40px;
	padding: 20px 0;
	text-align: center;
}

.bottom-actions a{
	font-size: 18px;
	text-decoration: none;
}

.form .text{
	color: #999;
	font-size: 14px;
	width: auto;
}

.login-form .forgot-screen,
.login-form .emailsent-screen{
	display: none;
}

.cc-list{
	margin-bottom: 20px;
}

.cc-list .cc{
	padding: 5px 0;
	border-top: 1px solid #d3d5d8;
}

.cc-list .cc:first-child{
	border-top: 0;
}

.cc-list .ccnum{
	display: inline-block;
	vertical-align: middle;
	font-size: 50px;
	line-height: 1;
	padding-left: 50px;
	background: url(../img/icon-cc-dots.png) no-repeat left center;
	margin-left: 15px;
}

.cc-list .check{
	display: block;
	float: right;
	width: 45px;
	height: 45px;
	background: url(../img/icon-check-red-big.png) no-repeat center center;
}

.cards-form .prettyCheckbox{
	display: block;
	float: right;
}

.cards-form .prettyCheckbox .holder{
	display: block;
	float: right;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.cards-form .prettyCheckbox.checked .holder{
	background: url(../img/icon-check-red-big.png) no-repeat center center;
}


.actions.delete{
	display: none;
}

.btn.disabled{
	cursor: default !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media all and (max-width: 1250px){
	.cw{
		width: 920px;
	}
	.c.main{
		width: 600px;
	}
	.bignum{
		font-size: 70px;
	}
}



@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}